<!-- Start ContextAdd r.2015.02.15 Layer -->
<div id="AdvrtX__DIV" style="position:fixed;left:1px;top:1px;width:1px;visibility:hidden;cursor:pointer;" onMouseOut="Context_AdvertX.AdvrtXLayer_Off(eContextHideTime);return false" onMouseOver="Context_AdvertX.AdvrtXLayer_Off(eContextHideMaxTime);return false">
	<table border="0" width="100%" class="eContextArea" cellspacing="0" cellpadding="0">
	<tr>
		<td width="100%">
			<table border="0" width="100%" cellspacing="0" cellpadding="2">
			<tr valign="top">
				<td width="16">
					<img src="modules/mod-js-components/views/js/jscontextadd/img/icon.png" style="opacity:0.75;">
				</td>
				<td width="99%" id="AddWords_TitleBar" align="right" onClick="Context_AdvertX.AdvrtXLayer_Toggle('AdvrtX__DIV',0); return false" title="Click here to Close">
					<span class="eContextAreaTitle">Contextual Advertising</span>
					&nbsp;
				</td>
				<td width="16">
					<img src="modules/mod-js-components/views/js/jscontextadd/img/icon-xtra.png" style="opacity:0.75;">
				</td>
			</tr>
			<tr>
				<td colspan="3" width="100%" bgcolor="#FFFFFF" style="padding:2px">
					<!-- place your HTML content here-->
					<iframe id="AdvrtX__IFRM" scrolling="no" src="" width="100%" height="100%" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0"></iframe>
					<!-- End of content area -->
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
</div>
<!-- End AdWords layer -->
