<!-- Partial Sub-Template: TestUnit.Main.ModJsComponents -->
<br>
<hr>
<div>
	<h2 style="display:inline;">Extra Components available from Smart.Framework.Modules: Js-Components</h2>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsrichtexteditor/demo/sample.html" data-smart="open.modal 998 0.85" class="ux-button ux-button-highlight" style="width:320px;"><i class="fa fa-pencil-square-o"></i> &nbsp; Rich Text / (X)HTML Editor</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsspreadsheet/demo/sample.html" data-smart="open.modal 0.75 0.85" class="ux-button ux-button-highlight" style="width:320px;"><i class="fa fa-table"></i> &nbsp; Spreadsheet</a>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsmaps/demo/sample-smartmaps.html" data-smart="open.modal 0.8 0.9" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-map"></i> &nbsp; OpenLayers Maps</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/imgcanvas/demo/sample.html" data-smart="open.modal 760 0.92" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-paint-brush"></i> &nbsp; Interactive Canvas</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/imgcrop/demo/sample-cropper.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-crop"></i> &nbsp; Image Crop</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsdiff/demo/sample-diff-text.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-exchange"></i> &nbsp; Text Diff</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsdiff/demo/sample-diff-json.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-random"></i> &nbsp; Json Diff</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/chart2-js/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-area-chart"></i> &nbsp; Complex Charts</a>
</div>
<!-- #END :: Partial Sub-Template: TestUnit.Main.ModJsComponents -->