<!-- Partial Sub-Template: TestUnit.Main.ModBizComponents -->
<br>
<hr>
<div>
	<h2 style="display:inline;">Extra Components available from Smart.Framework.Modules: Biz-Components</h2>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-biz-components/views/gantt/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-tasks"></i> &nbsp; Gantt Chart</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-biz-components/views/kanban/demo/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-tags"></i> &nbsp; Kanban Board</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-biz-components/views/flowchart/demo/flowchart/demo.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:220px;"><i class="fa fa-sitemap"></i> &nbsp; Flow Charts</a>
</div>
<!-- #END :: Partial Sub-Template: TestUnit.Main.ModBizComponents -->