<div><h1>JS Components Demo</h1></div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsmaps/smart/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-map"></i> &nbsp; Smart Maps</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsmaps/open/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-map-o"></i> &nbsp; Open Maps</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/chart2-js/samples/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-map-o"></i> &nbsp; Advanced Charts</a>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/fullcalendar/demos/default.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-calendar"></i> &nbsp; Smart Calendar</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/gantt/examples/sample-gantt.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-calendar-check-o"></i> &nbsp; Gantt Chart</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/v-timeline/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-server"></i> &nbsp; Vertical Timeline</a>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsrichtexteditor/ckeditor/samples/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-pencil-square"></i> &nbsp; Rich Text Editor</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsspreadsheet/sample-jquery.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-table"></i> &nbsp; Spreadsheet</a>
</div>
<br>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsdiff/sample.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-random"></i> &nbsp; Text Diff</a>
</div>
<div style="display:inline-block; margin-right:20px; margin-bottom:20px;">
	<a href="modules/mod-js-components/views/js/jsdiff/sample-json.html" data-smart="open.modal" class="ux-button ux-button-regular" style="width:250px;"><i class="fa fa-exchange"></i> &nbsp; Json Diff</a>
</div>