/* Js Kanban CSS */

.jskanban_area {
}

.jskanban_holder {
	width: 20%;
	float: left;
	clear: right;
	margin: 10px;
	border-radius: 5px;
}

.jskanban_sorter {
	list-style-type: none;
	margin: 0;
	padding: 2px;
	min-height: 30px;
	border-radius: 5px;
}

.jskanban_sorter li {
	margin: 3px 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1.4em;
	height: 18px;
}

.jskanban_sorter li span {
	position: absolute;
	margin-left: -1.3em;
}

.jskanban_box{
	background-color: #FFFFFF;
	border-radius:3px;
}

.jskanban_add_field {
}

.jskanban_add_bttn {
}

.jskanban_save_bttn {
}

/* END */
